### Notebook to add additional features to the single season DataFrame
#### a) Points of Home and Away team before each game
#### b) Position of Home and Away team before each game

In [147]:
import pandas as pd

In [148]:
#Accessing pd_data from main notebook. Overwrite if others needed
%store -r pd_data

In [149]:
# Function to calculate month each game was played 
# Will be useful for 
pd.DatetimeIndex(pd_data['Date']).month

Int64Index([8, 8, 8, 8, 8, 8, 8, 8, 8, 8,
            ...
            7, 7, 7, 7, 7, 7, 7, 7, 7, 8],
           dtype='int64', name='Date', length=462)

In [150]:
#Helper functions

#Add points for each team before the game starts
def addPointsBeforeGame(pd_data):
    #unique teams
    uniqueTeams = pd_data['HomeTeam'].unique()

    #build dict with all teams in that season; initialize to zero for each
    teamPoints = {uniqueTeams[i]:0 for i in range(0,len(uniqueTeams))};

    # Adding new feature: Points before each game starts
    # PBGH = PointsBeforeGameHomeTeam in that season
    # PBGA = PointsBeforeGameAwaayTeam in that season
    pd_data['PBGH'] = 0
    pd_data['PBGA'] = 0

    for index,row in pd_data.iterrows():
        #set points before start of game into DataFrame
        pd_data.loc[index,'PBGH'] = teamPoints[row['HomeTeam']]
        pd_data.loc[index,'PBGA'] = teamPoints[row['AwayTeam']]
        #check who won and who lost
        if (row['FTR']=='D'):
            teamPoints[row['HomeTeam']] += 1
            teamPoints[row['AwayTeam']] += 1
        elif (row['FTR']=='H'):
            teamPoints[row['HomeTeam']] += 3
        elif (row['FTR']=='A'):
            teamPoints[row['AwayTeam']] += 3
    return teamPoints

In [151]:
#Execute functions

addPointsBeforeGame(pd_data)

{'Arsenal': 71,
 'Aston Villa': 57,
 'Chelsea': 51,
 'Liverpool': 60,
 'Man City': 45,
 'Newcastle': 77,
 'Oldham': 40,
 'Sheffield United': 42,
 'Southampton': 43,
 'West Ham': 52,
 'Norwich': 53,
 'Tottenham': 45,
 'Everton': 44,
 'Ipswich': 43,
 'Leeds': 70,
 'Wimbledon': 65,
 'Blackburn': 84,
 'Coventry': 56,
 'Man United': 92,
 'QPR': 60,
 'Sheffield Weds': 64,
 'Swindon': 30}

In [146]:
pd_data

    Div       Date        HomeTeam        AwayTeam FTHG FTAG FTR  PBGH  PBGA
0    E0 1993-08-14         Arsenal        Coventry    0    3   A     0     0
1    E0 1993-08-14     Aston Villa             QPR    4    1   H     0     0
2    E0 1993-08-14         Chelsea       Blackburn    1    2   A     0     0
3    E0 1993-08-14       Liverpool  Sheffield Weds    2    0   H     0     0
4    E0 1993-08-14        Man City           Leeds    1    1   D     0     0
..   ..        ...             ...             ...  ...  ...  ..   ...   ...
457  E0 1994-07-05  Sheffield Weds        Man City    1    1   D    63    44
458  E0 1994-07-05         Swindon           Leeds    0    5   A    30    67
459  E0 1994-07-05       Tottenham             QPR    1    2   A    45    57
460  E0 1994-07-05        West Ham     Southampton    3    3   D    51    42
461  E0 1994-08-05      Man United        Coventry    0    0   D    91    55

[462 rows x 9 columns]